{{#if feature_image}}
<div class="material-cover animated fade-in" style="background-image: url({{img_url feature_image}})">
{{else}}
<div class="material-cover" style="background-image: url('/assets/img/backgrounds/site-cover-2.png')">
{{/if}}
    <div class="background-container"></div>
</div>
